/* Importing the font */
body {
    position: relative;
    min-height: 100vh; /* Ensure the body takes up the full height of the viewport */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background-color: #2d92ae;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f5f5f5;
}

.center {
    text-align: center;
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px; /* To create space below the navigation bar */
}

.logo {
    max-width: 35%;
    height: auto;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.0em;
    margin-bottom: 20px;
    color: #3bbee1;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #3bbee1;
}

p {
    font-size: 1.5em;
    line-height: 1.5;
    margin: 10px 0;
}

.contact-number {
    font-size: 1.8em;
    font-weight: bold;
    margin-top: 20px;
    color: #3bbee1;
}

footer {
    background-color: #f8f8f8;
    padding: 10px 20px;
    margin-top: auto; /* This pushes the footer to the bottom */
    width: 100%;
    font-size: 0.6em;
    text-align: center;
    position: fixed; /* Fixed position to stick at the bottom */
    bottom: 0; /* Stick it to the bottom of the viewport */
}

.mailto-link {
    color: #3bbee1;
    text-decoration: none;
    font-size:1.8em;
}

.mailto-link2 {
    color: #3bbee1;
    text-decoration: none;
}

.button-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100px; /* Adjust this value to position the button 100px from the bottom */
}


.instagram-button img {
    width: 50px; /* Adjust the size as needed */
    height: 50px; /* Adjust the size as needed */
    transition: transform 0.3s;
}

.instagram-button img:hover {
    transform: scale(1.1); /* Makes the button slightly larger when hovered */
}
